![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Cleaning categorical data

For this lab, we will be using the dataset in the Customer Analysis Business Case. This dataset can be found in `files_for_lab` folder. In this lab we will explore categorical data. You can also continue working on the same jupyter notebook from the previous lab. However that is not necessary.

### Instructions

1. Import the necessary libraries if you are starting a new notebook.

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import datetime
import warnings

warnings.filterwarnings('ignore')
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from scipy.stats import mode

2. Load the csv. Use the variable `customer_df` as `customer_df = pd.read_csv()`.

In [2]:
#importing data
customer_df = pd.read_csv('files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv')

3. What should we do with the `customer_id` column?

In [3]:
customer_df = customer_df.drop(['Customer'], axis=1)

4. Load the continuous and discrete variables into `numericals_df` and `categorical_df` variables, for eg.: 
    ```py
    numerical_df = customer_df.select_dtypes()
    categorical_df = customer_df.select_dtypes()
    ```

In [4]:
# Check the numerical variables
numerical_df = customer_df.select_dtypes(np.number)

# Check the categorical variables

categorical_df = customer_df.select_dtypes(object)

5. Plot every categorical variable. What can you see in the plots? Note that in the previous lab you used a bar plot to plot categorical data, with each unique category in the column on the x-axis and an appropriate measure on the y-axis. However, this time you will try a different plot. This time in each plot for the categorical variable you will have, each unique category in the column on the x-axis and the target(which is numerical) on the Y-axis

6. For the categorical data, check if there is any data cleaning that need to perform. 
**Hint**: You can use the function `value_counts()` on each of the categorical columns and check the representation of different categories in each column. Discuss if this information might in some way be used for data cleaning.

In [5]:
# Checking for null values
nulls = pd.DataFrame(customer_df.isna().sum()/len(categorical_df))
nulls= nulls.reset_index()
nulls.columns = ['column_name', 'Percentage Null Values']
nulls.sort_values(by='Percentage Null Values', ascending = False)

                      column_name  Percentage Null Values
0                           State                     0.0
12        Months Since Last Claim                     0.0
21                  Vehicle Class                     0.0
20             Total Claim Amount                     0.0
19                  Sales Channel                     0.0
18               Renew Offer Type                     0.0
17                         Policy                     0.0
16                    Policy Type                     0.0
15             Number of Policies                     0.0
14      Number of Open Complaints                     0.0
13  Months Since Policy Inception                     0.0
11           Monthly Premium Auto                     0.0
1         Customer Lifetime Value                     0.0
10                 Marital Status                     0.0
9                   Location Code                     0.0
8                          Income                     0.0
7                          Gender                     0.0
6                EmploymentStatus                     0.0
5               Effective To Date                     0.0
4                       Education                     0.0
3                        Coverage                     0.0
2                        Response                     0.0
22                   Vehicle Size                     0.0